@model FrontEnd.Models.Rol

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h4>¿Está seguro de que desea eliminar este rol?</h4>
<div>
    <h4>Rol</h4>
    <hr />
    <dl class="row row-cols-lg-4">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rol1)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdRol" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
