@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Le damos la Bienvenida</h1>
    <p>Para nuestra página web puede visitar <a href="https://www.pacaloca.com">Pacaloca.com</a>.</p>
</div>
