@model FrontEnd.Models.TipoAsistencia

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Esta seguro de que desea eliminar este tipo de asistencia?</h3>
<div>
    <h4>Tipo de Asistencia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAsistencia1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoAsistencia1)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTipoAsistencia" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
