@model FrontEnd.Models.TipoAsistencia

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>TipoAsistencia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAsistencia1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoAsistencia1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.IdTipoAsistencia">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
