@model FrontEnd.Models.TipoAusencia

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Está seguro de que desea eliminar este tipo de ausencia?</h3>
<div>
    <h4>Tipo de Ausencia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAusencia1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoAusencia1)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTipoAusencia" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
