@model FrontEnd.Models.Sede

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Sede</h4>
    <hr />
    <dl class="row row-cols-lg-4">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sede1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sede1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSede">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
